.repo_item {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0;
  border-bottom: var(--border-bottom);

  .item {

    &_title {
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 600;
      font-size: 2rem;
    }

    &_link {
      color: var(--color-text-link);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &_info {
      display: flex;
      font-size: 1.2rem;
      margin-top: .8rem;
      color: var(--color-text-secondary);

      &_language {
        margin-right: 1.6rem;

        .language-color {
          background-color: #e34c26;
          position: relative;
          top: 1px;
          display: inline-block;
          width: 12px;
          height: 12px;
          border: 1px solid rgba(27, 31, 35, .1);
          border-radius: 50%;
          margin-right: 3px;
        }
      }

      &_stargazer {
        margin-right: 1.6rem;
      }
    }
  }

}