.clear-icon {
    width: 18px;
    height: 18px;
    padding: 1px;
    margin-right: 3px;
    margin-top: 4px;
    color: var(--color-white);
    text-align: center;
    background-color: #6a737d;
    border-radius: 6px;
}