*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-text-primary: #24292e;
  --color-text-secondary: #586069;
  --color-white: #fff;
  --color-selected: #f9826c;
  --color-border-input: #e1e4e8;
  --color-border-input-focus: #0366d6;
  --color-btn-default: #fafbfc;
  --color-btn-primary: #2ea44f;
  --color-text-link: #0366d6;

  --border-bottom: 1px solid #e1e4e8;
  ;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

.app {
  min-height: 100vh;
}

