*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-text-primary: #24292e;
  --color-white: #fff;
  --color-selected: #f9826c;

  --border-bottom: 1px solid #e1e4e8;
  ;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.app {
  min-height: 100vh;
}

.section {
  padding: 5rem 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}



.searchbar {
  grid-area: searchbar;
  border-bottom: var(--border-bottom);


  &_input {
    width: 50%;
    padding: .5rem 1.2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-text-primary);
    border-radius: .6rem;

    &:focus {
      outline: none;
      border-color: #0366d6;
      box-shadow: 0 0 0 3px rgba(3, 102, 214, .3);
    }
  }
}

