.header {
  grid-area: head;
  background-color: #fff;
  border-bottom: var(--border-bottom);

  display: flex;
  align-items: flex-end;
}

.navbar {
  margin-left: 34rem;

  &_list {
    display: flex;
    color: var(--color-text-primary);

    &_item {
      display: flex;
      padding: .8rem 1.6rem;
      align-items: center;
      border-bottom: 2px solid transparent;
      transition: border-bottom-color .12s ease-out;
      cursor: pointer;

      &:hover {
        border-bottom-color: #d1d5da;
      }
    }

    &_item + &_item {
      margin-left: 5px;
    }

    & .selected {
      font-weight: 600;
      color: #24292e;
      border-bottom-color: var(--color-selected);
    }

    .counter {
      display: inline-block;
      margin-left: 4px;
      min-width: 2rem;
      padding: 0 6px;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: #24292e;
      text-align: center;
      background-color: rgba(209, 213, 218, .5);
      border: 1px solid transparent;
      border-radius: 2em;
    }

    &_link {}
  }
}

.octicon {
  display: inline-block;
  overflow: visible!important;
  vertical-align: text-bottom;
  fill: currentColor;
  margin-right: .4rem;
}